<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

    <head>

        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <script type="text/javascript" charset="utf-8">

        </script>
        <style type="text/css" media="screen">

        </style>

        {% block add_js %}
        {% endblock add_js %}

        {% block add_css %}
        {% endblock add_css %}
    </head>

    <body>
        {% block content %}
        {% endblock content %}
    </body>

</html>
